.page_posts
    .tree-posts
        display block
        width 100%
    #search
       background transparent
       svg
           background-color transparent
.tree-posts
    padding-top: 43px
    width 347px
    height 100%
    position fixed
    background-color rgba(230, 252, 250, 1)
    overflow-y auto
    top 0
    +below(rem(960px))
        display none
    h3
        color black
        position relative
        margin rem(100px)
        margin-top rem(100px)
        margin-bottom rem(100px)
        margin-right rem(200px)
        margin-left rem(200px)
.post-item
    text-align left
    padding rem(5px) rem(20px)
    position relative
    .content
        cf();
        +below(cut)
            text-align center
            stack()
        a
            +above(cut)
                col(4.2/6)
            text-decoration none
            border none
        .date
            color main
            margin-bottom rem(100px)
        .post-title
            color rgba(255, 255, 200, 0.32)
            text-transform uppercase
            position relative
            padding rem(5px)
            font-size rem(16px)
            margin 0
            text-align center
            &.selected
                background white
            &:hover
                background-color rgba(199, 178, 136, 0.32)
            +above(cut)
                text-align left
                margin-left rem(-10px)
                display initial
                font-size rem(17px)
                text-decoration none
